.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left{
    display: flex;
    align-items: center;
    flex: 1;
    gap: 2rem;
}

.n-name{
    font-size: 1.3rem;
    font-weight: bold;   
}

.n-right{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.n-list{
    flex: 10;
    /* flex-direction: row; */

}

.n-list ul{
display: flex; 
   gap: 2rem;
   list-style: none;
    margin-right: 4rem;
}

.n-list li:hover{
    cursor: pointer;
    text-decoration:underline;
    color: var(--orange);
}


